* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: crimson;
}

.container{
    width: 600px;
    margin: 40px;
    background: rgb(140, 3, 3);
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
 
h1 {
    margin-bottom: 20px;
    text-align: center;
}

.formulario {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

}

.formulario input{
    flex: 1;
    padding: 12px;
    border: 1px solid #f9d3d3;
    border-radius: 6px;
}

button {
    padding: 12px 16px;
    border: none;
    border-radius: 6;
    cursor: pointer;

}

button:hover {
    opacity: 0.9;

}

.lista {
    list-style: none;

}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border: 1px solid #eee;
    border-radius: 8px;
    margin-bottom: 10px;
}

.digitado {
    text-align: center;
    color: #f9f9f9;
    margin-top: 10px;
    margin-bottom: 10px;
}
.acoes {
display: flex;
color: gray;
}

.concluida {
    text-decoration: line-through;
    color: gray;
}

.vazio {
    text-align: center;

    color: #666;
    margin-top: 20px;
}